// Resume area start
#resume.resume-area.pt-110.pb-80.gray-bg
  .container
    .row
      .section-title.text-center
        h1 Resume
    .row(style="margin-bottom: 24px")
      .col-sm-8.col-sm-offset-2
        .resume-wrapper
          .resume-title
            h2
              span
                i.ti-bag
              | Work:
          each client in data.work
            .single-resume
              p.work-duration #{client.duration}
              h4
                span
                  img(src=client.logo, alt='logo')
                |  #[a(href=client.link, target='_blank') #{client.name}]
              p #{client.description}
              h5 #{client.title}
    .row
      .col-sm-8.col-sm-offset-2
        .resume-wrapper
          .resume-title
            h2
              span
                i.ti-cup
              | Education:
          .single-resume
            p.work-duration October 2014 - Today
            h4 Bachelor in Electronic Engineering
            h5 Faculty of Science - State University of Haiti
